{% extends "layout.html" %}

{% block content %}
<h2 class="text-center mt-4 mb-4">Login to WhatBytes</h2>
<div class="d-flex justify-content-center mt-4">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Login</button>
    </form>
</div>
<div class="d-flex justify-content-center mt-4">
    <p>Don't have an account? <a href="{% url 'register' %}">Register Here</a></p>
</div>
<div class="d-flex justify-content-center mt-4">
    <p>Forgot Password? <a href="{% url 'password_reset' %}">Reset Here</a></p>
</div>
{% endblock %}